body {
    background-color: #242933;
}

hr {
    border-color: #a5abb8;
}

.steps .step {
    text-align: left;
  }

h1 {
    display: block;
    font-size: 2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}